@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

blockquote {
  display:block;
  background: #eeeeee;
  padding: 10px 15px 20px 25px;
  margin: 0 0;
  position: relative;
  border-left: 5px solid #767676;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  content: "";
}

cite {
  display: block;
  position: absolute;
  right: 10px;
  color: #666;
}

cite::before {
  position: relative;
}


#root, .filled {
  height: 100%!important;
  max-height: 100%;
  min-height: 100%;
}

.filled-width {
  max-width: calc(100% - 260px);
  width: calc(100% - 260px);
}

.srcollable {
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.picon {
  margin: 0 5px 0 5px;
  height: 1em;
  width: 1em;
  border-radius: 250rem;
}