@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

#root, .filled {
  height: 100%!important;
  max-height: 100%;
  min-height: 100%;
}

.ui.custom.segment {
  position: inherit;
}

.filled-width {
  max-width: calc(100% - 260px);
  width: calc(100% - 260px);
}