/*
 * Override Semantic UI
 */
.ui.attached.segment {
  margin: 0 1px;
  max-width: calc(100% - 10px);
}

.ui.attached.header {
  margin-right: 1px;
  margin-left: 1px;
  max-width: calc(100% - 10px);
}